*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.log
app/build/
.settings
bin/
gen/
out/
proguard/
*.apk
*.ap_
*.dex
*.class
Thumbs.db
.project
.classpath
